@import "reset.css";

@font-face {
  font-family: "English_harry";
  font-weight: 200;
  src: url("./Fonts/English_harry.ttf") format("truetype");
}

.Main {
  text-align: center;
}

.Comment {
  position: relative;
  margin-top: 15%;
  color: snow;
}

.Maincomment {
  font-size: 30px;
}

.Subcomment {
  margin-top: 50px;
  font-size: 25px;
}

.Namebutton {
  padding: 10px 50% 10px 50%;
  margin-top: 15px;
  color: snow;
  background-color:transparent;
  border: 0px transparent solid;
}